.main-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 782px;
}
@media screen and (min-width: 375px) {
  .main-container {
    width: 80%;
    height: 492px;
    display: flex;
    margin-bottom: 124px;
    justify-content: space-between;
  }
}